.p_full {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../images/top1.jpg") center / cover;
  &__text {
    position: absolute;
    font-size: 2em;
    text-shadow: 1px 2px 3px rgba($accent_color, $alpha: 0.3);
    line-height: 2em;
    top: 50%;
    left: 35%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; //縦書き
  }
}
@media screen and (max-width: 768px) {
  .p_full {
    &__text {
      position: absolute;
      font-size: 1.5em;
      text-shadow: 1px 2px 3px rgba($accent_color, $alpha: 0.3);
      line-height: 2em;
      top: 40%;
      left: 40%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; //縦書き
    }
  }
}
