.l-header {
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3px 6px rgba($accent_color, $alpha: 0.3);
  &__container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }
  &__flex {
    height: 80px;
    display: flex;
    align-items: center;
  }
  &__logo {
    img {
      vertical-align: bottom;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
    :hover {
      opacity: 0.7;
    }
  }
  &__list {
    margin-left: auto;
    ul {
      display: flex;
      align-items: center;
      li {
        margin-left: 40px;
        a {
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
        }
      }
      :hover {
        color: $accent_color;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .l-header {
    &__flex {
      height: 60px;
      display: flex;
      align-items: center;
    }
    &__logo {
      margin: 0 auto;
      img {
        width: 150px;
        height: auto;
      }
    }
    &__list {
      display: none;
    }
  }
}
